body{
background-image:url("images/LinkedinBG.jpg");
width:100%
}
.mainDiv{
margin-left:400px;
margin-top:50px;
background-color:#999999;
height:600px;
width:500px;
}

.head1{
text-align:center;
padding-top:20px;
letter-spacing:1px;
font-family:Sans Serif;
font-size:22px;
font-weight:bold;
}

#head2{
<<<<<<< HEAD
font-size:16px;
color:green;
padding-top:0px;
=======
font-size:18px;

color:yellow;



>>>>>>> aa628f2e3df2e9fee05be8f16f679ce8d71ee37e
font-weight:normal;
}

.list1{

}

ul.list1 li{
list-style-type:none;
padding-top:10px;
width:100%;

}
.btn{
width:90%;
background-color:yellow;
border-color:black;
border-width:thin;
height:30px;
border-radius:2px;
font-weight:bold;
cursor:pointer;
}

.input{
width:90%;
height:30px;
border:0;
padding:5px;
border-radius:4px;
}

#disclaimer{
font-size:12px;

}